@model DealDouble.Entities.Auction

@{
    Layout = null;
}

<h2>Edit</h2>

<form method="post">

    <label>Title</label>
    <input name="Title" value="@Model.Title"/>
    <br />

    <label> Picture URL</label>
    <input name="PictureURL" value="@Model.PictureURL"/>
    <br />

    <label> Description </label>
    <input name="Description" value="@Model.Description"/>
    <br />


    <label>  Actual Amount </label>
    <input name="ActualAmount" value="@Model.ActualAmount"/>
    <br />

    <label> Starting Time </label>
    <input name="StartingTime" value="@Model.StartingTime"/>
    <br />


    <label> End Time </label>
    <input name="EndTime" value="@Model.EndTime"/>
    <br />

    <button>Submit</button>

</form>