@model DealDouble.Entities.Auction

@{
    Layout = null;
}

<h2>Edit</h2>

<form id="formEdit">

    <label>Title</label>
    <input name="ID" value="@Model.ID" type="hidden"/>
    <input name="Title" value="@Model.Title"/>
    <br />

    <label> Picture URL</label>
    <input name="PictureURL" value="@Model.PictureURL"/>
    <br />

    <label> Description </label>
    <input name="Description" value="@Model.Description"/>
    <br />


    <label>  Actual Amount </label>
    <input name="ActualAmount" value="@Model.ActualAmount"/>
    <br />

    <label> Starting Time </label>
    <input name="StartingTime" value="@Model.StartingTime"/>
    <br />


    <label> End Time </label>
    <input name="EndTime" value="@Model.EndTime"/>
    <br />

    <button id="btnEdit">Submit</button>

</form>

<script>
    $("#btnEdit").click(function () {

        $.ajax({
            type: 'POST',
            url: '/Auctions/Edit/',
            data: $("#formEdit").serialize()

        })
            .done(function (data) {
                $(".mainContent").html(data);
                $(".actionArea").html("");

            })
            .fail(function (data) {
                alert("failed");
            });

    });
</script>