
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table>
    <thead>
        <tr>
            <th>Title</th>
            <th>Picture URL</th>
            <th>Description</th>
            <th>Actual Amount</th>
            <th>Starting Time</th>
            <th>End Time</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                <span hidden>@item.ID</span>@item.Title
            </td>
            <td>@item.PictureURL</td>
            <td>@item.Description</td>
            <td>@item.ActualAmount</td>
            <td>@item.StartingTime</td>
            <td>@item.EndTime</td>
            <td><a href="Edit/@item.ID">Edit</a></td>
            <td><a href="Delete/@item.ID">Delete</a></td>
        </tr>
        }

    </tbody>
</table>
