@model DealDouble.Web.ViewModels.AuctionListingViewModel

@{
    Layout = null;
}

<div>
    <h2>All Auctions</h2>
    <button id="btnNew" class="btn btn-success float-end" data-toggle="modal" data-target="#formModal"> New Auction </button>
</div>



<table class="table table-hover">
    <thead>
        <tr>
            <th>Title</th>
            <th>Picture URL</th>
            <th>Description</th>
            <th>Actual Amount</th>
            <th>Starting Time</th>
            <th>End Time</th>
            <th colspan="2">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Auctions)
        {
            <tr>
                <td>
                    <span hidden>@item.ID</span>@item.Title
                </td>
                <td>@item.PictureURL</td>
                <td>@item.Description</td>
                <td>@item.ActualAmount</td>
                <td>@item.StartingTime</td>
                <td>@item.EndTime</td>
                <td><button class="btnEdit btn btn-primary" data-ID="@item.ID" data-toggle="modal" data-target="#formModal">Edit</button></td>
                <td><button class="btn btn-danger buttonDelete" data-ID="@item.ID" data-toggle="modal" data-target="#deleteModal">Delete</button></td>
            </tr>



        }

    </tbody>
</table>


<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirm</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete this record ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" id="btnDelete" data-ID="@item.ID" class="btn btn-danger">Delete</button>
            </div>
        </div>
    </div>
</div>






<script>

    $("#btnNew").click(function () {

        $.ajax({
            type: 'GET',
            url: "@Url.Action("Create","Auctions")"
        })
            .done(function (response) {
                $(".actionArea").html(response);

            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("Fail");
            });
    });

    $(".btnEdit").click(function () {

        $.ajax({
            type: 'GET',
            url: "@Url.Action("Edit","Auctions")",
            data: {
                ID: $(this).attr('data-ID')
            }
        })
            .done(function (response) {
                $(".actionArea").html(response);

            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("Fail");
            });
    });

    $("btnDelete").click(function () {

        $.ajax({
            type: 'GET',
            url: "@Url.Action("Delete","Auctions")",
            data: {
                ID: $(this).attr('data-ID')
            }
        })
            .done(function (response) {
                $(".actionArea").html(response);

            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("Fail");
            });
    });

         $("#btnDelete").click(function () {

        $.ajax({
            type: 'POST',
            url: ''@Url.Action("Delete","Auctions")'',
            data: {
                ID: $(this).attr('data-id'),
            }
        })
            .done(function (data) {
                $(".mainContent").html(data);
                $(".actionArea").html("");

            })
            .fail(function (data) {
                alert("failed");
            });

    });

</script>